.about {
  padding: 50px 0;

  @media (max-width: $tablet-max) {
    padding: 20px 0;
  }
}

.about-container {
  @include container();
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    margin-bottom: 30px;
    flex-direction: column;
  }
}

.about-title-wrap {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.about-title {
  margin-top: 250px;
  font-size: 32px;
  font-weight: 700;

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  @media (max-width: $tablet-max) {
    margin: 30px 0 50px;
    font-size: 26px;
    text-align: center;
  }

  @media (max-width: $mobile-max) {
    font-size: 24px;
  }
}

.about-info-wrap {
  flex-basis: 55%;
}

.about-info {
  display: flex;
  flex-direction: column;
}

.about-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  img {
    max-width: 250px;

    &::selection {
      background-color: $color-dark;
    }

    @media (max-width: $mobile-max) {
      max-width: 200px;
    }
  }

  @media (max-width: $tablet-max) {
    align-self: center;
    margin-bottom: 40px;
  }
}

.about-text {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 27px;
  color: rgba($color-dark, .6);

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }
}

.about-list {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 27px;
  color: rgba($color-dark, .6);
  list-style-position: inside;
}

.about-item {
  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }
}

.about-link {
  color: rgba($color-accent, .8);
  text-decoration: none;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  &:hover {
    color: rgb($color-accent, .5);
  }
}
