.exhibitions {
  padding: 50px 0;
}

.exhibitions-container {
  @include container();
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
  }
}

.exhibitions-title-wrap {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.exhibitions-title {
  margin-top: 250px;
  font-size: 32px;
  font-weight: 700;

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  @media (max-width: $tablet-max) {
    margin: 60px 0;
    font-size: 26px;
  }

  @media (max-width: $mobile-max) {
    font-size: 24px;
  }
}

.exhibitions-text-wrap {
  flex-basis: 55%;
}

.exhibitions-text {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 27px;
  color: rgba($color-dark, .6);

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  b::selection {
    color: $color-light;
    background-color: $color-dark;
  }
}

.exhibitions-link {
  color: rgba($color-accent, .8);
  text-decoration: none;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  &:hover {
    color: rgb($color-accent, .5);
  }
}
