.header {
  position: relative;
  padding: 30px 0;
  background-color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 25px 0;
  }
}

.header-container {
  @include container();
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-empty-box {
  display: none;

  @media (max-width: $tablet-max) {
    display: block;
    width: 25px;
  }
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
  color: $color-dark;
  text-decoration: none;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  &:hover {
    opacity: .8;
  }

  @media (max-width: $mobile-max) {
    // font-size: 24px;
  }
}
